<div class="ticket-search">
  <div class="ticket-search__header">
    <h2>Ticket Search</h2>
  </div>
  <div class="ticket-search__body">
    <form class="ticket-search__form" (ngSubmit)="onSubmit()">
      <div class="ticket-search__form-group">
        <div class="form-group">
          <label class="form-label" for="searchTerm">From:</label>
          <input
            [(ngModel)]="fromStation"
            list="stations"
            class="ticket-search__input"
            name="fromStation"
            (ngModelChange)="search(fromStation)"
            placeholder="Bydgoszcz"
          />
          <datalist id="fromStations">
            @for (station of filteredStations; track station.id) {
              <option [value]="station.name"></option>
            }
          </datalist>
        </div>
        <div class="form-group">
          <label class="form-label" for="searchTerm">To:</label>
          <input
            [(ngModel)]="toStation"
            list="stations"
            class="ticket-search__input"
            name="toStation"
            (ngModelChange)="search(toStation)"
            placeholder="Warszawa"
          />
          <datalist id="stations">
            @for (station of filteredStations; track station.id) {
              <option [value]="station.name"></option>
            }
          </datalist>
        </div>
        <div class="form-group">
          <label class="form-label" for="searchTerm">Date:</label>
          <input [(ngModel)]="travelDate" type="datetime-local" name="travelDate" id="travelDate" />
        </div>
      </div>
      <button class="ticket-search__button" type="submit">Search Tickets</button>
    </form>

    <app-search-page [searchParams]="searchParams" [searchId]="searchId"> </app-search-page>
  </div>
</div>
