:host {
    --input-padding: 10px;
    --form-group-padding: 5px;
    --card-color: #EAF8F8;
    --card-button-color: #2F5D50;
    --node-active:#BB4430;
    --card-button-font-color: #EAF8F8;
}
.body{
    font-family: sansSerif;
}
