/* You can add global styles to this file, and also import other style files */
body {
    /* Спробуй саме цей варіант без додаткових папок */
    background-image: url('./app/assets/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}